@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	
}

.envoltorio{
	overflow: hidden;
	width:80%;
	margin:0 auto;
}

header{
	background-color: #323b45;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.logo{
	height: 42px;
}
/*menu*/
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 15px;
}

nav li{
    line-height: 2.5rem;
}

nav a{
    color: white;
    display: block;
    padding: 0 2.5rem;
    text-decoration: none;
}

nav a:hover{
    background: #12488b;
}

/*Primer nivel*/

nav>ul{
    background-color: #323b45;
    width: 100%;
    overflow: hidden;
}

nav>ul>li{
    float: left;
}

nav>ul>li>ul{
    position: absolute;
    display: none;
}

nav>ul>li:hover ul{
    display: block;
}

nav>ul>li>ul>li{
    background-color: #323b45;
}